<div class="login-card">
  <h2>Airtable Revision Login</h2>


  <!-- <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput [(ngModel)]="email" />
  </mat-form-field> -->

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput [(ngModel)]="password" type="password" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="onLogin()" [disabled]="loading">
    <ng-container *ngIf="!loading; else loadingTpl">
      Login
    </ng-container>
  </button>
  <ng-template #loadingTpl>
    <mat-progress-spinner
      diameter="24"
      mode="indeterminate"
      color="accent"
      strokeWidth="3">
    </mat-progress-spinner>
  </ng-template>

  <div *ngIf="mfaRequired">
    <mat-form-field>
      <mat-label>MFA Code</mat-label>
      <input matInput [(ngModel)]="mfaCode" />
    </mat-form-field>

    <button mat-raised-button color="accent" (click)="onVerifyMfa()">Verify MFA</button>
  </div>
</div>
